<h2>Passed <%= @quizname %> with <%= @score %>%</h2>

<p>This email is your (<%= @student %>) certificate indicating that you successfully completed the above quiz</p>
<p>please retain this email for your records</p>