<p id="notice"><%= notice %></p>
<h2>Thanks for taking the quiz</h2>
<p>
  <b>Quiz:</b>
  <%= @attempt.quiz_id %>
</p>

<p>
  <b>Student:</b>
  <%= @attempt.student.organization_id %>
</p>

<p>
  <b>Percent correct:</b>
  <%= @attempt.percent_correct %>
</p>

<h2>You're Done!</h2>